.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins";
  width: 100%;
  h2 {
    margin-bottom: 1rem;
  }
  form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    height: 20rem;
    width: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .input-container {
      margin-bottom: 1rem;
      text-align: center;
      input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        outline: none;
        width: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.329);
        border-radius: 0.5rem;
        font-family: "Poppins";
      }
    }
    #error {
      text-align: center;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: red;
    }
    button {
      padding: 0.5rem 1rem;
      border: none;
      width: 100%;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: $btn;
      transition: color 0.3s ease-in-out 0s;
      &:hover {
        background-color: $primary;
      }
    }
  }
}
